*{
    padding: 0;
    margin: 0;
}

.checkbox-wrapper{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.checkmark{
    display:block;
    width:80px;
    height: 80px;
    background-color: #ddd;
    border-radius: 10px;
    position: relative;
    transition: all .5s;
}
.checkmark::after{
    position: absolute;
    content:"";
    width:25px;
    height: 45px;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    top:40%;
    left:50%;
    opacity: 0;
    transform: translate(-50%,-50%) rotateZ(40deg) scale(10);
    transition:all .5s;
}

#check:checked ~ .checkmark{
    background-color: #08bb68;
}

#check:checked ~ .checkmark::after{
    transform: translate(-50%,-50%) rotateZ(40deg) scale(1);

    opacity: 1;
}


@keyframes ani{
    0%{
        transform: translate(5rem);
        opacity:.3;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}